{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Turma da Mônica
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <nav>

        <img src="{% static 'imagens/Logo.png' %}"
             alt="Logo Turma da Mônica">

        <div class="menu">

            <a href="{% url 'index' %}">Início</a>

            <a href="{% url 'elenco' %}">Elenco</a>

            <a href="{% url 'sobre' %}">Sobre</a>

        </div>

    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        © 2026 Turma da Mônica | Desenvolvido por AJCB
    </footer>

</body>

</html>