{% extends 'meuapp/base.html' %}
{% load static %}

{% block conteudo %}

<main class="pagina-elenco">

    <h1>EQUIPE / ELENCO</h1>

    <h2>Conheça os personagens principais da Turma da Mônica</h2>

    <div class="linha1">

        {% for personagem in personagens|slice:':6' %}

        <div class="card">
            <img src="{% static personagem.foto %}" alt="{{ personagem.nome }}">

            <h3>{{ personagem.nome }}</h3>

            <p>Idade: {{ personagem.idade }} anos</p>

            <p>Posição: {{ personagem.posicao }}</p>

            <p>Origem: {{ personagem.origem }}</p>
        </div>

        {% endfor %}

    </div>

    <div class="linha2">

        {% for personagem in personagens|slice:'6:' %}

        <div class="card">
            <img src="{% static personagem.foto %}" alt="{{ personagem.nome }}">

            <h3>{{ personagem.nome }}</h3>

            <p>Idade: {{ personagem.idade }} anos</p>

            <p>Posição: {{ personagem.posicao }}</p>

            <p>Origem: {{ personagem.origem }}</p>
        </div>

        {% endfor %}

    </div>

</main>

{% endblock %}