{% extends 'meuapp/base.html' %}
{% load static %}

{% block title %}
Elenco
{% endblock %}

{% block content %}

<main class="pagina-elenco">

    <h1>EQUIPE / ELENCO</h1>

    <h2>Conheça os personagens principais da Turma da Mônica</h2>

    <div class="linha1">

        {% for personagem in personagens %}

        <div class="card">

            <img
                src="{% static personagem.imagem %}"
                alt="{{ personagem.nome }}">

            <h3>{{ personagem.nome }}</h3>

            <p>Idade: {{ personagem.idade }}</p>

            <p>Origem: {{ personagem.origem }}</p>

        </div>

        {% endfor %}

    </div>

</main>

{% endblock %}