{% extends 'meuapp/base.html' %}
{% load static %}

{% block title %}
Início
{% endblock %}

{% block content %}

<main class="home">

    <section class="texto">

        <h1>BEM VINDO AO</h1>

        <h2>MUNDO DA DIVERSÃO!</h2>

        <p>
            A Turma da Mônica é uma das séries de quadrinhos mais famosas do Brasil,
            criada por Maurício de Sousa em 1959.
            As histórias acompanham as aventuras de Mônica, Cebolinha,
            Cascão, Magali e seus amigos no Bairro do Limoeiro.
        </p>

        <a
            href="https://www.youtube.com/@turmadamonica"
            target="_blank"
            class="botao">
            Conheça a Turma
        </a>

    </section>

    <section class="imagem">

        <img
            src="{% static 'imagens/FundoInicio.png' %}"
            alt="Turma da Mônica">

    </section>

</main>

{% endblock %}